
window {
  border: 3px solid #90cdfa;
  background: linear-gradient(to right, #6274e7 0%, #8752a3 100%);

  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  font-weight: bold;
  background: #5d00a0;
  color: #c4d3da;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #90cdfa;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #c4d3da;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: linear-gradient(90deg, #85c4f1 0%, #b69bf1 80%);
}
